<h2>About <%= current_user.email %></h2>
<h4>Update your profile</h4>

  <div class="row profile_row">
  <div class="users_profile_image col-xs-6 col-md-4">
    <%= image_tag current_user.gravatar_url,  :class => "gravatar_image_profile" %>
  </div>
  <%= form_tag "/profiles/current_user.id", :method => :patch do %>
  
    <div class="users_name col-xs-6 col-md-4">
      <div>
        <%= label_tag :first_name, "First Name:" %>
      </div>
      <div>
        <%= text_field_tag :first_name, @profile.first_name %> 
      </div>
      <div>
        <%= label_tag :last_name, "Last Name:" %>
      </div>
      <div>
        <%= text_field_tag :last_name, @profile.last_name %> 
      </div>
      <div>
        <%= label_tag :email, "Email:" %>
      </div>
      <div>
        <%= text_field_tag :email, current_user.email %> 
      </div>
      <div>
        <%= label_tag :username, "Username:" %>
      </div>
      <div>
        <%= text_field_tag :username, @profile.username %> 
      </div>
    </div><!-- End of second box users_name -->

    <div class="users_address col-xs-6 col-md-4">
    <p>Where do you live. We only need city and state.</p>
      <div>
        <%= label_tag :address, "Address:" %>
      </div>
      <div>
        <%= text_field_tag :address, @profile.address %> 
      </div>

      <div>
        <%= label_tag :city, "City:" %>
      </div>
      <div>
        <%= text_field_tag :city, @profile.city %> 
      </div>

      <div>
        <%= label_tag :state, "State:" %>
      </div>
      <div>
        <%= text_field_tag :state, @profile.state %> 
      </div>

      <div>
        <%= label_tag :zip, "Zip:" %>
      </div>
      <div>
        <%= text_field_tag :zip, @profile.zip %> 
      </div>

      <%= hidden_field_tag :user_id, current_user.id %>

    </div><!-- End of third box users_address -->
    <div class="profiles_submit_button"><%= submit_tag "Update me" %></div>
    
    <% end %>
  </div><!-- End of row -->

