<h2>Create a new vacation</h2>
<section>
  <div class="row">

  <%= form_tag vacations_path do %>
    <div class="accomondations col-xs-6 col-md-4">
    <p>Where do you plan on staying while on vacation?</p>
      <div>
        <%= label_tag :accomondations, "Living Quarters:" %>
      </div>
      <div>
        <%= text_field_tag :accomondations %> 
      </div>
      <div>
        <%= label_tag :address, "Address:" %>
      </div>
      <div>
        <%= text_field_tag :address %> 
      </div>
    </div>

    <div class="vacation_name col-xs-6 col-md-4">
    <p>What would you like to name your vacation?</p>
      <div>
        <%= label_tag :vacation_name, "Vacation Name:" %>
      </div>
      <div>
        <%= text_field_tag :vacation_name %> 
      </div>
      <div>
        <%= label_tag :city, "City:" %>
        </div>
        <div>
        <%= text_field_tag :city %>
      </div>
      <div>
        <%= label_tag :state, "State:" %>
        </div>
        <div>
        <%= text_field_tag :state %>
      </div>
      <p>how do you plan on getting around while on vacation?</p>
      <!-- The below code will need to be enum, so I think I have to change it to arive_by to match the table -->
      <div>
        <%= label_tag :transpertation, "Car rental" %>
        </div>
        <div>
        <%= check_box_tag :car_rental %>

      </div>
      <div>
        <%= label_tag :transpertation, "Bus/Train" %>
        </div>
        <div>
        <%= check_box_tag :bus_train %>
      </div>
      <div>
        <%= label_tag :transpertation, "walking" %>
        </div>
        <div>
        <%= check_box_tag :walking %>
      </div>
      <hr>
      <div><%= submit_tag "Set up my vacation!" %></div>
    </div>

    <div class="arive_by col-xs-6 col-md-4">
    <p>How are you getting to your destination?</p>
        <div>
          <%= label_tag :arrive_by, "By air" %>
          </div>
          <div>
          <%= check_box_tag :arrive_by %>
        </div>
        <div>
          <%= label_tag :arrive_by, "Car" %>
          </div>
          <div>
          <%= check_box_tag :arrive_by %>
        </div>
        <div>
          <%= label_tag :arrive_by, "Train" %>
          </div>
          <div>
          <%= check_box_tag :arrive_by %>
        </div>
      </div>
    </div>

    <% end %>
  </div>
</section>





