<!DOCTYPE html>
<html>
<head>
  <title>VacationBoxApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <div class="container">
      <header>
        <div class="header_one row">
          <div class="col-lg-12">
            <a href="/"><span>Home Dashboard</span></a>
            <p>time</p>
            
            <div class="gravatar_image_div">
            <%= image_tag current_user.gravatar_url,  :class => "gravatar_image" %>
            </div>
            <h2><%= @profile.city %></h2>
            <div class="new_vacation_link">
              <% if @profile == nil || @profile.first_name == nil  %>
              <a href="/profiles/<%= current_user.id %>/edit"><p>Please update your profile</p></a>
              <% else %>
              <a href="/profiles/<%= current_user.id %>/edit"><p><%= @profile.first_name %> profile</p></a>
              <% end %>
            </div>
            <% if current_user %>
              <p><a href="/users/sign_out">logout</a></p>
              <% else %>
              <p><a href="/users/sign_in">login</a></p>
              <p><a href="/users/sign_up">Sign-up</a></p>
            <% end %>
          </div>
        </div>

        <div class="header_two row">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              saved vacations
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <% @vacations.each do |vacation_name| %>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/vacations/<%= vacation_name.id %>"><%= vacation_name.vacation_name %></a></li>
            <% end %>
            </ul>
          </div>

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              points of interest for <%= @profile.city %>
              <span class="caret"></span>
            </button>
<!-- NOTE = need to replace the each method below with the api of points of interest -->
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <% @vacations.each do |vacation_name| %>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">points of interest go here</a></li>
            <% end %>
            </ul>
          </div>

        </div><!-- End of header two -->
      </header>
  <% end %>

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

</div><!-- End of container -->

</body>
</html>
