<!DOCTYPE html>
<html>
<head>
  <title>VacationBoxApp</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true_or_false"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <script type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1"></script>
  <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
  
</head>
<body>
  <% if user_signed_in? %>
    
      <header>
        <div class="header_one shoadows row">
          <div class="col-lg-12">
            
            <div class="saved_vations row">
              <div class="col-md-4">
                <nav id="primary_nav_wrap" class="saved_vac_menu">
                  <ul>
                  <li><a href="/">Home Dashboard</a></li>
                  <li>|</li>
                    <li>Saved Vacations <span class="caret"></span>
                      <ul>
                        <% if @vacations != [] %>
                          <% @vacations.each do |vacation_name| %>
                              <li><a href="/vacations/<%= vacation_name.id %>"><%= vacation_name.vacation_name %></a></li>
                          <% end %>
                        <% else %>
                          <li><a href='<%= new_vacation_path %>'>- Create a vacation -</a></li>
                        <% end %>
                      </ul>
                    </li>
                    <li>|</li>
                    <li class="date_time">Local time: <%= @helper.time_date %></li>
                  </ul>
                </nav>
              </div>
            
              <div class="main_logo col-md-4">
             
              <% if @profile == nil || @profile.locality == nil  %>
              <a href="/profiles/<%= current_user.id %>/edit"><p>- Please update your profile -</p></a>
              <% else %>
              <p>- <%= @page_title %> -</p>
              <% end %>
              
              </div>

              <div class="profile col-md-4">
                <ul>
                  <li class="logout_text">
                    <div class="user_profile_info">
                      <% if @profile == nil || @profile.first_name == nil  %>
                      <a href="/profiles/<%= current_user.id %>/edit"><p class="no_profile">| Please update your profile HERE |</p></a>
                      <% else %>
                      <a href="/profiles/<%= current_user.id %>/edit"><p><%= @profile.first_name %>'s profile</p></a>
                      <% end %>
                    </div>
                  </li>
                  <li>|</li>
                  <li class="logout_text">
                    <p><a href="/users/sign_out">logout</a></p>
                  </li>
                  <li>|</li>
                  <li>
                    <div class="gravatar_image_div">
                    <%= image_tag current_user.gravatar_url,  :class => "gravatar_image" %>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
          </div>
        </div><!-- End of header one -->

        
      </header>
  <% end %>
  <div class="container">
  <div class="app_alerts">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>" role="alert">
        <button type="button" class="close" data-dismiss="alert"></button>
        <%= message %>
      </div>
    <% end %>
  </div>
  

  <%= yield %>



</div><!-- End of container -->

<footer>
  <p>Copyright <%= Time.now.year %></p>
</footer>

</body>
</html>
