<!DOCTYPE html>
<html>
<head>
  <title>VacationBoxApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      
</head>
<body>
  <% if user_signed_in? %>
    
      <header>
        <div class="header_one row">
          <div class="col-lg-12">
            
            <div class="main_nav_bar row">
              <div class="first_menu col-md-4">
                <ul>
                  <li><a href="/">Home Dashboard |</a></li>
                  <li>Local time:</li>
                </ul>
              </div>
            
              <div class="main_logo col-md-4">
              <% if @profile == nil || @profile.city == nil  %>
              <a href="/profiles/<%= current_user.id %>/edit"><p>- Please update your profile -</p></a>
              <% else %>
              <p>- <%= @profile.city %> -</p>
              <% end %>
              
              </div>

              <div class="profile col-md-4">
                <ul>
                  <li class="logout_text">
                    <div class="user_profile_info">
                      <% if @profile == nil || @profile.first_name == nil  %>
                      <a href="/profiles/<%= current_user.id %>/edit"><p class="no_profile">| Please update your profile HERE |</p></a>
                      <% else %>
                      <a href="/profiles/<%= current_user.id %>/edit"><p><%= @profile.first_name %>'s profile |</p></a>
                      <% end %>
                    </div>
                  </li>
                  <li class="logout_text">
                    <p><a href="/users/sign_out">logout |</a></p>
                  </li>
                  <li>
                    <div class="gravatar_image_div">
                    <%= image_tag current_user.gravatar_url,  :class => "gravatar_image" %>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
          </div>
        </div><!-- End of header one -->

        <div class="header_two row">
          <div class="saved_vations row">
            <div class="col-md-4">
              <nav id="primary_nav_wrap" class="saved_vac_menu">
                <ul>
                  <li>Saved Vacations <span class="caret"></span>
                    <ul>
                      <% @vacations.each do |vacation_name| %>
                      <li><a href="/vacations/<%= vacation_name.id %>"><%= vacation_name.vacation_name %></a></li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </nav>





              <div class="dropdown">

            

            



            </div>
          </div>

            <div class="app_alerts col-md-4">
              put my alerts here....
            </div>
            <div class="points_of_interest col-md-4">
              <div class="dropdown">
                <% if @profile == nil || @profile.city == nil  %>
                    <span class="caret"></span>
                    'UPDATE PROFILE'
                <% else %>
                  <nav id="primary_nav_wrap">
                    <ul>
                      <li><span class="caret"></span> Points of interest for <%= @profile.city %>
                        <ul>
                          <li><a href="#">Sub Menu 1</a></li>
                          <li><a href="#">Sub Menu 2</a></li>
                          <li><a href="#">Sub Menu 3</a></li>
                          <li><a href="#">Sub Menu 4</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                <% end %>
<!-- NOTE = need to replace the each method below with the api of points of interest -->
              </div><!-- End of dropdown -->
            </div><!-- End of points of interest -->
          </div><!-- End of header two row -->
        </div><!-- End of header two -->
      </header>
  <% end %>
  <div class="container">

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

</div><!-- End of container -->

</body>
</html>
